h2 {
    color: gray;
}
.error {
    color: red;
    background-color: lightgoldenrodyellow;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
